<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>
    
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>我的课程</title>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
                        <h3>课程列表</h3>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                    	<div class="table-responsive row">
                    		<div class="col-sm-12">
								<table class="table table-striped text-center">
						            <thead>
                                        <tr>
                                            <th class="text-center">课程号</th>
                                            <th class="text-center">课程名</th>
                                        </tr>
						            </thead>
						            <tbody>
                                        <tr th:each="course: ${courses}">
                                            <td class='text-center' th:text="${course.courseid}"></td>
                                            <td class='text-center' th:text="${course.coursename}"></td>
                                        </tr>
						            </tbody>
						        </table>
					        </div>
				        </div>
			        </div>
		        </div>
			</div>
        </div>
    </div>

    <script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
    <script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
    <script th:src="@{/js/content.min.js?v=1.0.0}"></script>
    <script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
    <script th:src="@{/js/demo/form-validate-demo.min.js}"></script>

    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>
</html>